:root {
  --color-bg: #EAFAF4;
  --color-bg-oscuro: #0B1F16;
  --color-fonts: #ffffff;
  --font-family-base: 'Nunito', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
}
